body {
	margin: 0;
	background: green;
	text-align: center;
}   

div.tooltip {	
      color: black; 
      font: normal 70%/1.4 Roboto;	
      background: yellow; 
      border-radius: 3px; 
      box-shadow: 0px 0px 2px 0px #a6a6a6; 
      padding: .2em; 
      text-shadow: #f5f5f5 0 1px 0;
      opacity: 0.9; 
      position: absolute;
      text-align: center;			
      width: auto;					
      height: auto; 					
      padding: 2px;				
}	    

.axis text {
    font-family: Roboto;
    font-size: 11px;
}

.titlep {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;	
}
	    
.title {
    font-family: Roboto;
    font-size: 15px;			
}

.xAxis {
    font-family: Roboto;
    font-size: 10px;
    fill: black;
}  

.yOnBar {
    font-family: Roboto;
    font-size: 9px;
    fill: black;
}
  
