html {
  font: normal 80%/1.4 Roboto,serif;
  background: white;
}

body {
	background-color: lightgrey;
	text-align: center;
}
h1, h3, h5, p{
	text-align:center;
}
// 7-23 took out fill:lightgrey
path {
  stroke: black;  
  stroke-width: 1;  
}

svg {
	margin: 0;
	background: white;
	text-align: center;
}

<!-- I don't think below is working  took out fill:lightgrey 7/23-->
.country {
	stroke: black;
	stroke-width: 1;
      	}
.selected {
	fill: yellow;
        }

.hidden {
      display: none;
}
div.tooltip {	
      color: black; 
      background: yellow; 
      border-radius: 3px; 
      box-shadow: 0px 0px 2px 0px #a6a6a6; 
      padding: .2em; 
      text-shadow: #f5f5f5 0 1px 0;
      opacity: 0.9; 
      position: absolute;
      text-align: center;			
      width: auto;					
      height: auto; 					
      padding: 2px;				
}
