body {
	background-color: lightblue;
	text-align: center;
}
h1, h3, h5, p{
	text-align:center;
}

path {
  stroke: black;          
  stroke-width: 1;  
  fill: lightgrey;        
}

#tooltip {
  text-align: left;
  padding: 16px;
  background-color: lightsalmon;
  border: 1px solid black;
  width: auto;
  opacity: 0;
  color: black;
  position: absolute;
}

 
  /* Tooltip CSS */
  .d3-tip {
    line-height: 1.5;
    font-weight: 400;
    font-family:"avenir next", Arial, sans-serif;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #FFA500;
    border-radius: 1px;
    pointer-events: none;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {      
    box-sizing: border-box;
    display: inline;
    font-size: 8px;
    width: 100%;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    pointer-events: none;
    
  }


svg {
	margin: 0;
	background: pink;
	text-align: center;
}

<!-- I don't think below is working -->
.country {
	fill: lightgrey;
	stroke: black; 
	stroke-width: 1;
      	}
.selected {
	fill: yellow;
        }
