html {
  font: normal 100%/1.4 Georgia,serif;
  background: #eff4f0;
}

body {
	background-color: lightblue;
	text-align: center;
}
h1, h3, h5, p{
	text-align:center;
}

path {
  stroke: black;          
  stroke-width: 1;  
  fill: lightgrey;        
}

svg {
	margin: 0;
	background: white;
	text-align: center;
}

<!-- I don't think below is working -->
.country {
	fill: lightgrey;
	stroke: black; 
	stroke-width: 1;
      	}
.selected {
	fill: yellow;
        }

.hidden {
      display: none;
}
div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 140px;					
  height: 50px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightgreen;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}
