
	<style>
		svg {
			margin: 0;
			background: pink;
			text-align: center;
		}
                <!-- I don't think below is working -->
		.country {
			fill: #cccccc;
			stroke: #333333; 
			stroke-width: 1;
        	}
                .selected {
			fill: yellow;
                }
	</style>

